<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RSEntities" connectionString="metadata=res://*/RSModel.csdl|res://*/RSModel.ssdl|res://*/RSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GENESIS-PC\SQLEXPRESS;initial catalog=RS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>